@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
	box-sizing: border-box;
}

body {
	background-color: #000000;
    color: #fff;
    margin: 0;
}
.main{
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Muli', sans-serif;
	height: 100vh;
	overflow: hidden;
	margin: 0;
	text-align: center;
}

.countdown-container {
	display: flex;
}

.time {
	display: flex;
	font-size: 1.2em;
	flex-direction: column;
	margin: 0 15px;
}

.time h1 {
	margin-bottom: 0;
}

.time small {
	color: #ccc;
}

.main{
    background-color: #0000006c;
}

.cupon{
    background-color: #ce2d2d;
    padding: 10px;
    border: dashed 5px white;
    border-radius: 30px;
}

.cophav{
    background-color: #ce2d2d;
    padding: 5px;
    border-radius: 30px;
    visibility: hidden;
}

.falafel{
    width: 100px;
    padding-left: 10px;
    padding-right: 10px;
}
.gift{
    font-size: 40px;
    margin: 1px;
}

h2{
    margin: 5px;
}

hr{
    border-style: dashed solid;
}

.cupon p{
margin: 4px;
}

#videoBG {
    margin: 0;
    position:fixed;
    z-index: -1;
}
@media (min-aspect-ratio: 16/9) {
    #videoBG {
        width:100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9) {
    #videoBG { 
        width:auto;
        height: 100%;
    }
}
@media (max-width: 767px) {
    #videoBG {
        display: none;
    }
    h1{
        font-size: 130%;
    }
    h2{
        font-size: 130%;
    }

    body {
        background: url('img.gif');
        background-size: cover;
    }
}